body {
}

header {
    background: lightgrey;
    height: 64px;
}

header #header-logo {
    width: 64px;
    float: left;
}

header h1 {
    font-family: Cantarell;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    padding-top: 6px;
}

#main {
    padding: 0;
    margin: 0;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: lightgrey;
}

footer ul {
    list-style-type: none;
}