<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8">
    <title>JDC Lab</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="img/logo-tr--48x48.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Cantarell:400,700i&display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
            defer=""></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
            defer=""></script>
</head>
<body class="bg-dark h-100">
    <div class="row m-0 h-100">
        <div class="col-12 col-lg-4 d-none d-lg-block h-100"></div>
        <div class="col-12 col-lg-4 h-100 bg-primary">
            <div class="py-5 text-center">
                <h1 class="text-corporate text-strong text-italic text-xxl text-white pr-4 py-4">JDC</h1>
                <h5 class="text-normal text-white pb-5">Our personal playground for interesting things.</h5>
                <p class="text-md">
                    <a class="text-white mx-1" href="https://github.com/jdc-lab"><i class="fab fa-github"></i></a>
                    <a class="text-white mx-1" href="contact"><i class="fas fa-envelope"></i></a>
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-none d-lg-block h-100"></div>
    </div>
</body>
</html>
